:root {
  --gray-color: #9caec0;

  /* light theme */
  --text-color: #000;
  --background-color: #fff;
  --blue-color: rgb(1, 81, 186);
  --blue-lite-color: rgb(126, 241, 249);
  --blue-dark-color: #6e00fe;
}

@media (prefers-color-scheme: dark) {
  /* dark theme */
  :root {
    --text-color: #fff;
    --background-color: #282a36;
    --blue-color: #00a1fe;
    --blue-lite-color: rgb(126, 241, 249);
    --blue-dark-color: #b41eff;
  }
}
