.navigation {
  padding-top: .5em;
  padding-bottom: .5em;
}

.navigation--vertical {
  padding-top: 0;
  padding-bottom: 0;
}

.navigation__list {
  list-style: none;
}

.navigation__item {
  display: inline-block;
  padding-right: .5em;
}

.navigation--vertical .navigation__item {
  display: flex;
  font-size: 1.5em;
  margin-bottom: .25rem;
  font-weight: bold;
  padding: 0;
}

.navigation--vertical .navigation__item:last-child {
  margin-bottom: 0;
}
