.contacts {
  padding-bottom: 0.5rem;
}

.contacts__list {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5em;
}

.contacts_item {
  list-style: none;
  padding-top: 0.5em;
  padding-right: 0.5em;
  padding-left: 0.5em;
}
