<article class="article" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="article__header">
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {{ page.date | date: site.date_format }}
    </time>

    <h1 class="article__title h1" itemprop="name headline">
      {{ page.title | escape }}
    </h1>
  </header>

  <div itemprop="articleBody">
    {{ content }}
  </div>

  <div class="article__comments">
    {% include partials/disqus/disqus.html %}
  </div>
</article>

<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/androidstudio.min.css">
<script defer src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>

<script defer>
  function installHighlight() {
    const codeBlocs = document.querySelectorAll('pre code');

    for (const block of codeBlocs) {
      hljs.highlightBlock(block);
    }
  }

  let interval = setInterval(() => {
    if (hljs) {
      clearInterval(interval);
      installHighlight();
    }
  }, 300);
</script>
