<div class="introduction" itemscope itemtype="https://schema.org/Person">
  <link itemprop="url" href="{{ site.url }}">
  <meta itemprop="image" content="{{ site.avatar }}?s=120">
  <meta itemprop="birthDate" content="{{ site.authorBirthDate }}">

  {% for contact in site.data.contacts  %}
    {% if contact.itemprop  %}
    <meta itemprop="{{contact.itemprop}}" content="{{ contact.url }}">
    {% endif  %}
  {% endfor %}

  <p class="paragraph">
    Привет! Меня зовут
    <span itemprop="givenName">Николай</span> <span itemprop="familyName">Говоров</span>.
    Мне <span id="age">18</span> лет, живу в
    <span class="nobr" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress"><span itemprop="addressLocality">Санкт-Петербурге</span><meta itemprop="addressCountry" content="Россия"></span>,
    разрабатываю фронтенд для <a href="{{site.data.meta.job.url}}">{{site.data.meta.job.name}}</a>.
  </p>

  <p class="paragraph">
    С 2015 года разрабатывал фронтенды на фрилансе, в том числе для
    {% for project in site.data.projects.job %}<span class="introduction__link"><a href="{{project.link}}">{{ project.title }}</a></span>{% endfor %}.
  </p>

  <p class="paragraph">
    Учавствую в разработке open-source проектов, поддерживаю
    {% for project in site.data.projects.opensource %}<span class="introduction__link"><a href="{{project.link}}">{{ project.title }}</a></span>{% endfor %}.
  </p>

  <p class="paragraph">
    Пробую выступать на <a href="https://medium.com/piterjs/announce25-eff54c37b110">митапах</a>,
    веду <a href="{{ '/notes' | relative_blog }}">блог</a>, временами пишу забавные посты
    <a href="https://vk.com/nikolay_govorov" rel="me">ВКонтакте</a> и <a href="https://twitter.com/govorov_n" rel="me">Твитере</a>.
  </p>
</div>

<script>
  const getCurrentAge = date => ((new Date().getTime() - new Date(date)) / (24 * 3600 * 365.25 * 1000)) | 0;

  document.getElementById('age').textContent = getCurrentAge('1999-09-24');
</script>
