.container {
  position: relative;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.avatar,
.logo {
  position: absolute !important;
  width: 100%;
  backface-visibility: hidden;

  object-fit: cover;
  transform: translateZ(0);
  transition: transform 1.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.avatar {
  border-radius: 100%;
}
