<article class="one-presentation">
  {% capture slides %}https://nikolay-govorov.github.io/presentation__{{page.name}}/#{% endcapture %}

  <h2 class="h2">{{page.title}}</h2>

  <div class="paragraph">
    <a target="_blank" rel="noopener noreferrer" href="{{ slides }}">Слайды</a>
  </div>

  <div class="one-presentation__frame-container">
    <iframe
      class="one-presentation__frame"
      src="{{page.video}}"
      frameborder="0"
      allow="autoplay; encrypted-media"
      allowfullscreen
    ></iframe>
  </div>
</article>
