.notes {}

.notes__section-title {
  position: relative;

  &:matches(:hover, :active, :focus)::before {
    content: "";
    display: block;
    position: absolute;

    left: 0;
    top: 0;

    margin-top: 12px;
    margin-left: -24px;

    width: width("anchor.svg");
    height: height("anchor.svg");
    background-image: inline("anchor.svg");
  }
}

.notes__list {
  list-style: none;
}

.notes__item {
  padding-bottom: .5em;
}
