.post figure {
  margin-top: 1em;
  margin-bottom: 1.5em;
  font-size: 0.85em;
}

.post figure img {
  margin: 0;
}

.post figcaption {
  max-width: var(--readable-text-width);
  margin-top: 0.5em;
}
