.post p + ul
{
  margin-top: -.75em;
}

.post ul
{
  max-width: var(--readable-text-width);
  margin: 0;
  padding-left: 1em;

  @media (min-width: 480px) {
    padding-left: 2em;
  }
}

.post ul li
{
  margin-bottom: .5em;
  list-style: none;
}
