.post .spoiler {
  background-color: currentColor;
}

.post .spoiler:hover {
  background-color: transparent;
}

.post .spoiler:not(:hover)::selection {
  color: inherit;
  background-color: currentColor;
}
