.page {
  display: grid;
  min-height: 100vh;
  padding: calc(1rem + 1vw);
  grid-gap: calc(1rem + 1vw);
  grid-template-areas:
    "content"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
}

.page__content {
  grid-area: content;
}

.page__footer {
  grid-area: footer;
}
