:root {
  --border-height: 3px;
}

:matches(a, .link):not(.link--clean) {
  position: relative;
  display: inline-block;
  color: var(--blue-color);
  border-bottom: var(--blue-lite-color) solid 3px;
  text-decoration: solid var(--blue-color) none;

  &:not(.link--not-visited, .link--through):visited {
    color: var(--blue-dark-color);
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: var(--border-height);
    bottom: calc(-1 * var(--border-height));
    left: 0;
    background-color: var(--blue-color);
    visibility: hidden;
    transform: scaleX(0);
    transition:
      opacity 0.1s ease-in-out 0s,
      transform 0.1s ease-in-out 0s;
  }

  &:matches(:hover, :focus, :active, .link--active)::before {
    visibility: visible;
    transform: scaleX(1);
  }

  &.link--wide {
    width: 100%;
  }

  &.link--external::after {
    width: 16px;
    height: 16px;
  }

  &.link--through {
    opacity: 0.7;
    color: var(--gray-color);
    background: none;
    border: none;
    text-decoration: line-through;

    &:matches(:hover, :focus, :active, .link--active) {
      opacity: 1;

      &::before {
        background-color: var(--gray-color);
      }
    }
  }
}
