.section {
  margin-bottom: 2.5em;

  &:last-child {
    margin-bottom: 0;
  }
}

.sectionTitle {
  position: relative;
}

.list {
  list-style: none;
}

.listItem {
  padding-bottom: 0.5em;
}

.title {
  text-decoration: none;
}
