@custom-media --screen-tablet (width >= 768px);
@custom-media --screen-laptop (width >= 1024px);
@custom-media --screen-pc (width >= 1280px);
@custom-media --screen-extra-large-pc (width >= 2048px);

:root {
  --max-screen-width: 2048px;
}
