.article pre {
  position: relative;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #bbb;
  background-color: #282C34;

  @media (--screen-tablet) {
    max-width: calc((36em * 1.5) + 1vw);

    border-radius: 3px;

    overflow: hidden;
    left: -2em;
    padding-left: 2em;
  }
}

.article pre::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(-1 * (100vw - 100%) / 2);
  right: calc(-1 * (100vw - 100%) / 2);
  max-width: 100vw;
  background-color: #282C34;

  @media (--screen-pc) {
    right: 0;
  }

  @media (--screen-extra-large-pc) {
    left: 0;
  }
}

.article pre code {
  padding: 2em 2em 2em 0;
  position: relative;
  display: block;
  width: 100%;
  overflow: auto;
  font-size: .75em;

  @media (--screen-pc) {
    max-height: 50vh;
  }
}
