.page {
  display: grid;
  min-height: 100vh;
  margin: 0 auto;
  max-width: var(--max-screen-width);
  padding: 1rem calc(1rem + 1vw);
  grid-row-gap: 1rem;
  grid-column-gap: calc(1rem + 1vw);
  grid-template-areas:
    "header"
    "content"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr auto;
}

.page__header {
  grid-area: header;
  padding-bottom: 2rem;
}

.page__content {
  grid-area: content;
}

.page__footer {
  grid-area: footer;
}
