.container {
  padding-bottom: 0.5rem;
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5em;
}

.list__item {
  list-style: none;
  padding-top: 0.5em;
  padding-right: 0.5em;
  padding-left: 0.5em;
}
