.page {
  display: grid;
  box-sizing: border-box;
  margin: 0 auto;
  min-height: 100vh;
  max-width: var(--max-screen-width);
  padding: calc(1rem + 1vw);
  grid-row-gap: 3rem;
  grid-column-gap: calc(1rem + 1vw);
  grid-template-areas:
  "header"
  "content"
  "footer";
  grid-template-columns: minmax(0%, 100%);
  grid-template-rows: min-content 1fr auto;
}

.page__header {
  grid-area: header;
}

.page__content {
  grid-area: content;
}

.page__footer {
  grid-area: footer;
}
