.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.title {
  margin: 0;
  font-weight: 700;
  font-size: 1.5em;
}

.logo,
.navigation {
  margin-bottom: 1.25em;
}

.logo {
  margin-right: 1.25em;
}
