<div class="lectures">
  {% for lecture in site.data.lectures %}
    <article class="lectures__item">
      {% capture link %}https://www.youtube.com/embed/{{ lecture.id }}\?rel=0{% endcapture %}
      {% capture slides %}/assets/lectures/{{lecture.name}}/slides.pdf{% endcapture %}

      <h2 class="h2">{{lecture.title}}</h2>

      <div class="paragraph">
        <a target="_blank" rel="noopener noreferrer" href="{{ slides | absolute_url }}">Скачать слайды</a>
      </div>

      <div class="lectures__frame-container">
        <iframe
          class="lectures__frame"
          src="{{link}}"
          frameborder="0"
          allow="autoplay; encrypted-media"
          allowfullscreen
        ></iframe>
      </div>
    </article>
  {% endfor %}
</div>
