.button {
  color: #fff;
  height: 28px;
  display: inline-flex;
  padding: 0 8px;
  background-color: #ff4f22;
  border: none;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  width: auto;
}

.button:matches(:hover, :focus, :active) {
  background-color: #a03000;
}

.button::before {
  display: none;
}
